@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

:root {
  font-size: 10px;
}

p,
h1,
h2,
h3,
span,
li,
a {
  cursor: default;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper__header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.wrapper__navigation {
  height: 100vh;
  background-color: #00ACB5;
}

.wrapper__welcome-page {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: calc(90vh - 50px);
  margin-top: 50px;
}

.wrapper__about-us {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-top: 50px;
}

.wrapper__services {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-top: 70px;
}

.wrapper__benefits {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-top: 75px;
}

.wrapper__contact {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  min-height: 100vh;
  background-color: brown;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header__button-menu {
  display: inline-block;
  padding: 3px;
  margin: 0 20px 0 0;
  background-color: transparent;
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.header__button-menu--active .header__hamburger-inner {
  background-color: transparent;
}

.header__button-menu--active .header__hamburger-inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.header__button-menu--active .header__hamburger-inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.header__hamburger-box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
}

.header__hamburger-inner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #00ACB5;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .1s .2s ease-in-out;
  transition: background-color .1s .2s ease-in-out;
}

.header__hamburger-inner::before, .header__hamburger-inner::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #00ACB5;
  content: '';
  -webkit-transition: -webkit-transform .2s .2s ease-in-out;
  transition: -webkit-transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
}

.header__hamburger-inner::before {
  top: -10px;
}

.header__hamburger-inner::after {
  top: 10px;
}

.header__logo {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 0 0 20px;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  -webkit-transform: translateX(-60vw);
          transform: translateX(-60vw);
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  margin-top: 50px;
  z-index: 1;
}

.navigation--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navigation--active ~ section,
.navigation--active ~ footer {
  opacity: 0.3;
}

.navigation__list {
  list-style: none;
  margin-top: 55px;
  padding-left: 15px;
}

.navigation__item {
  margin-bottom: 30px;
}

.navigation__item a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.navigation__item--button {
  text-align: center;
  margin: 50px 35px 0 20px;
}

.navigation__item--button .navigation__log-in-btn {
  display: block;
  width: 100%;
  border: #fff solid 1px;
  padding: 5px 0;
}

.welcome-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  position: relative;
}

.welcome-page::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 75%;
  bottom: -30px;
  left: 50%;
  background-color: #00dce9;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.welcome-page__name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 40%;
}

.welcome-page__first-word, .welcome-page__second-word {
  display: block;
  position: absolute;
  padding: 0 0 0 10px;
  font: italic 700 3rem/1.6 "Montserrat", sans-serif;
  background-color: #00ACB5;
  color: #fff;
  letter-spacing: 0.5px;
}

.welcome-page__first-word {
  top: 50px;
  left: 30px;
  width: calc(100% - 30px);
}

.welcome-page__second-word {
  top: 110px;
  left: 60px;
  width: calc(100% - 60px);
}

.welcome-page__slogan {
  height: 108px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 8vw;
  font: 700 2.7rem/1.3 "Montserrat", sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.welcome-page__bgc-image {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
  background: url(../img/hospital.jpg) no-repeat center;
  background-size: cover;
  background-position-x: 53%;
  opacity: 0.6;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.about-us::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 75%;
  bottom: -30px;
  left: 50%;
  background-color: #00dce9;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-us__intro, .about-us__end, .about-us__main {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  padding-bottom: 15px;
}

.about-us__main {
  font-size: 1.6rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.services::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 75%;
  bottom: -30px;
  left: 50%;
  background-color: #00dce9;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services .service {
  text-align: center;
  margin: 0 0 25px 0;
}

.services .service__img {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #00ACB5;
}

.services .service__title {
  font-size: 1.6rem;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

.services .service__description {
  font-size: 1.3rem;
  line-height: 1.5;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__wrap {
  margin-bottom: 35px;
}

.benefits__title {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 15px 0;
  letter-spacing: 1px;
}

.benefits__items-list {
  list-style: none;
}

.benefits__item {
  position: relative;
  margin: 0 0 10px 30px;
  font-size: 1.3rem;
  line-height: 1.5;
}

.benefits__item::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -30px;
  height: 15px;
  width: 15px;
  background-color: #00ACB5;
  border-radius: 50%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=main.css.map */