@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

:root {
  font-size: 10px;
}

p,
h1,
h2,
h3,
span,
li,
a {
  cursor: default;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper__header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .wrapper__header {
    height: 60px;
  }
}

.wrapper__navigation {
  height: 100vh;
  background-color: #00ACB5;
}

@media (max-width: 1199px) {
  .wrapper__desktop-navigation {
    display: none;
  }
}

.wrapper__welcome-page {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: calc(90vh - 50px);
  margin-top: 50px;
}

@media (min-width: 1200px) {
  .wrapper__welcome-page {
    height: calc(90vh - 60px);
    margin-top: 60px;
  }
}

.wrapper__about-us {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-top: 50px;
}

@media (orientation: portrait) and (min-width: 768px) {
  .wrapper__about-us {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .wrapper__about-us {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}

@media (min-width: 1200px) {
  .wrapper__about-us {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 1366px;
  }
}

.wrapper__services {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-top: 70px;
}

@media (orientation: portrait) and (min-width: 768px) {
  .wrapper__services {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .wrapper__services {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}

@media (min-width: 1200px) {
  .wrapper__services {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 120px;
    padding-bottom: 40px;
  }
}

.wrapper__benefits {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-top: 75px;
}

@media (orientation: portrait) and (min-width: 768px) {
  .wrapper__benefits {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .wrapper__benefits {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}

@media (min-width: 1200px) {
  .wrapper__benefits {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-top: 120px;
    max-width: 1366px;
  }
}

@media (max-width: 1199px) {
  .wrapper__benefits--image {
    display: none;
  }
}

@media (min-width: 1200px) {
  .wrapper__benefits--image {
    display: block;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: -10px 10px 3px 0 #00dce9;
            box-shadow: -10px 10px 3px 0 #00dce9;
  }
}

@media (min-width: 1200px) {
  .wrapper__benefits--image-doctors {
    -webkit-box-shadow: 10px 10px 3px 0 #00dce9;
            box-shadow: 10px 10px 3px 0 #00dce9;
  }
}

.wrapper__contact {
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #1e1e1e;
}

@media (min-width: 1200px) {
  .wrapper {
    overflow: hidden;
    margin: 0 auto;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-box-shadow: 0 0 5px 0 #00ACB5;
          box-shadow: 0 0 5px 0 #00ACB5;
}

.header__button-menu {
  display: inline-block;
  padding: 3px;
  margin: 0 20px 0 0;
  background-color: transparent;
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.header__button-menu--active .header__hamburger-inner {
  background-color: transparent;
}

.header__button-menu--active .header__hamburger-inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.header__button-menu--active .header__hamburger-inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

@media (min-width: 1200px) {
  .header__button-menu {
    display: none;
  }
}

.header__hamburger-box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
}

.header__hamburger-inner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #00ACB5;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .1s .2s ease-in-out;
  transition: background-color .1s .2s ease-in-out;
}

.header__hamburger-inner::before, .header__hamburger-inner::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #00ACB5;
  content: '';
  -webkit-transition: -webkit-transform .2s .2s ease-in-out;
  transition: -webkit-transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
}

.header__hamburger-inner::before {
  top: -10px;
}

.header__hamburger-inner::after {
  top: 10px;
}

.header__logo {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 0 0 20px;
}

@media (min-width: 1200px) {
  .header__logo {
    height: 50px;
    width: 50px;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  -webkit-transform: translateX(-60vw);
          transform: translateX(-60vw);
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  margin-top: 50px;
  z-index: 1;
}

.navigation--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navigation--active ~ section,
.navigation--active ~ footer {
  opacity: 0.3;
}

.navigation__list {
  list-style: none;
  margin-top: 55px;
  padding-left: 15px;
}

@media (orientation: portrait) and (min-width: 768px) {
  .navigation__list {
    margin-top: 60px;
  }
}

@media (orientation: landscape) and (min-width: 460px) {
  .navigation__list {
    margin-top: 15px;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .navigation__list {
    margin-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 731px) {
  .navigation__list {
    margin-top: 34px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .navigation__list {
    margin-top: 50px;
    padding-left: 25px;
  }
}

.navigation__item {
  margin-bottom: 30px;
}

.navigation__item a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

@media (orientation: portrait) and (min-width: 768px) {
  .navigation__item a {
    font-size: 2.1rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .navigation__item a {
    font-size: 2.1rem;
  }
}

.navigation__item--button {
  text-align: center;
  margin: 50px 35px 0 20px;
}

.navigation__item--button .navigation__log-in-btn {
  display: block;
  width: 100%;
  border: #fff solid 1px;
  padding: 5px 0;
}

@media (orientation: landscape) and (min-width: 460px) {
  .navigation__item--button {
    margin: 15px 90px 0 60px;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .navigation__item {
    margin-bottom: 45px;
  }
}

@media (orientation: landscape) and (min-width: 460px) {
  .navigation__item {
    margin-bottom: 20px;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .navigation__item {
    margin-bottom: 23px;
  }
}

@media (orientation: landscape) and (min-width: 731px) {
  .navigation__item {
    margin-bottom: 25px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .navigation__item {
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .navigation {
    display: none;
  }
}

.welcome-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: opacity .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out;
  position: relative;
}

.welcome-page::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 75%;
  bottom: -40px;
  left: 50%;
  background-color: #00dce9;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.welcome-page__name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 40%;
  position: relative;
}

@media (orientation: landscape) and (min-width: 460px) {
  .welcome-page__name {
    height: 140px;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .welcome-page__name {
    height: 160px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .welcome-page__name {
    height: 240px;
  }
}

.welcome-page__first-word, .welcome-page__second-word {
  display: block;
  position: absolute;
  padding: 0 0 0 10px;
  font: italic 700 3rem/1.6 "Montserrat", sans-serif;
  background-color: #00ACB5;
  color: #fff;
  letter-spacing: 0.5px;
}

@media (orientation: portrait) and (min-width: 411px) {
  .welcome-page__first-word, .welcome-page__second-word {
    font: italic 700 3.5rem/1.6 "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .welcome-page__first-word, .welcome-page__second-word {
    font: italic 700 4.2rem/1.7 "Montserrat", sans-serif;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .welcome-page__first-word, .welcome-page__second-word {
    font: italic 700 4.2rem/1.7 "Montserrat", sans-serif;
    letter-spacing: 1.2px;
  }
}

@media (min-width: 1200px) {
  .welcome-page__first-word, .welcome-page__second-word {
    font: italic 700 7rem/1.7 "Montserrat", sans-serif;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1.5px;
    text-shadow: 1px 0px 1px #00ACB5, 0px 1px 1px #00ACB5, 2px 1px 1px #00ACB5, 1px 2px 1px #00ACB5, 3px 2px 1px #00ACB5, 2px 3px 1px #00ACB5, 4px 3px 1px #00ACB5, 3px 4px 1px #00ACB5, 5px 4px 1px #00ACB5, 4px 5px 1px #00ACB5, 6px 5px 1px #00ACB5, 5px 6px 1px #00ACB5, 7px 6px 1px #00ACB5;
  }
}

@media (min-width: 1440px) {
  .welcome-page__first-word, .welcome-page__second-word {
    font: italic 700 8rem/1.7 "Montserrat", sans-serif;
  }
}

.welcome-page__first-word {
  top: 50px;
  left: 30px;
  width: calc(100% - 30px);
}

@media (orientation: portrait) and (min-width: 360px) {
  .welcome-page__first-word {
    top: 60px;
    left: 50px;
    width: calc(100% - 50px);
  }
}

@media (orientation: portrait) and (min-width: 411px) {
  .welcome-page__first-word {
    top: 70px;
    left: 60px;
    width: calc(100% - 60px);
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .welcome-page__first-word {
    top: 80px;
    left: 200px;
    width: calc(100% - 200px);
  }
}

@media (orientation: landscape) and (min-width: 460px) {
  .welcome-page__first-word {
    top: 20px;
    left: 135px;
    width: calc(100% - 135px);
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .welcome-page__first-word {
    left: 180px;
    width: calc(100% - 180px);
  }
}

@media (orientation: landscape) and (min-width: 731px) {
  .welcome-page__first-word {
    left: 210px;
    width: calc(100% - 210px);
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .welcome-page__first-word {
    top: 60px;
    left: 290px;
    width: calc(100% - 290px);
  }
}

@media (min-width: 1200px) {
  .welcome-page__first-word {
    top: 25px;
    left: 380px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (min-width: 1440px) {
  .welcome-page__first-word {
    top: 35px;
    left: 620px;
  }
}

.welcome-page__second-word {
  top: 110px;
  left: 60px;
  width: calc(100% - 60px);
}

@media (orientation: portrait) and (min-width: 360px) {
  .welcome-page__second-word {
    top: 120px;
    left: 80px;
    width: calc(100% - 80px);
  }
}

@media (orientation: portrait) and (min-width: 411px) {
  .welcome-page__second-word {
    top: 140px;
    left: 90px;
    width: calc(100% - 90px);
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .welcome-page__second-word {
    top: 170px;
    left: 250px;
    width: calc(100% - 250px);
  }
}

@media (orientation: landscape) and (min-width: 460px) {
  .welcome-page__second-word {
    top: 77px;
    left: 180px;
    width: calc(100% - 180px);
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .welcome-page__second-word {
    left: 220px;
    width: calc(100% - 220px);
  }
}

@media (orientation: landscape) and (min-width: 731px) {
  .welcome-page__second-word {
    left: 270px;
    width: calc(100% - 270px);
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .welcome-page__second-word {
    top: 150px;
    left: 380px;
    width: calc(100% - 380px);
  }
}

@media (min-width: 1200px) {
  .welcome-page__second-word {
    top: 100px;
    left: 535px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (min-width: 1440px) {
  .welcome-page__second-word {
    top: 125px;
    left: 790px;
  }
}

.welcome-page__slogan {
  max-height: 108px;
  padding: 5px 15px 10px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font: 700 2.7rem/1.3 "Montserrat", sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (orientation: portrait) and (min-width: 411px) {
  .welcome-page__slogan {
    max-height: 130px;
    font: 700 3rem/1.3 "Montserrat", sans-serif;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .welcome-page__slogan {
    max-height: 130px;
    font: 700 4rem/1.5 "Montserrat", sans-serif;
  }
}

@media (orientation: landscape) and (min-width: 460px) {
  .welcome-page__slogan {
    max-height: 75px;
    font: 700 2.5rem/1.3 "Montserrat", sans-serif;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .welcome-page__slogan {
    padding: 5px 75px 10px;
  }
}

@media (orientation: landscape) and (min-width: 731px) {
  .welcome-page__slogan {
    padding: 5px 125px 10px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .welcome-page__slogan {
    max-height: 100px;
    font: 700 3rem/1.5 "Montserrat", sans-serif;
    padding: 5px 180px 10px;
  }
}

@media (min-width: 1200px) {
  .welcome-page__slogan {
    height: 70px;
    font: 400 3.6rem/1 "Montserrat", sans-serif;
    padding: 15px 0 0 0;
  }
}

.welcome-page__bgc-image {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
  background: url(../img/hospital.jpg) no-repeat center;
  background-size: cover;
  background-position-x: 53%;
  opacity: 0.6;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

@media (min-width: 1200px) {
  .welcome-page__bgc-image {
    background-position-x: 50%;
    width: 100%;
  }
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.about-us::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 75%;
  bottom: -40px;
  left: 50%;
  background-color: #00dce9;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-us__intro, .about-us__end, .about-us__main {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  padding-bottom: 15px;
}

@media (orientation: portrait) and (min-width: 768px) {
  .about-us__intro, .about-us__end, .about-us__main {
    font-size: 1.5rem;
    padding-bottom: 25px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .about-us__intro, .about-us__end, .about-us__main {
    font-size: 1.5rem;
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .about-us__intro, .about-us__end, .about-us__main {
    padding: 60px 0;
  }
}

.about-us__intro {
  padding-top: 25px;
}

@media (min-width: 1200px) {
  .about-us__intro {
    width: 200px;
    margin: 0 0 0 90px;
    padding: 0;
  }
}

.about-us__main {
  font-size: 1.6rem;
}

@media (orientation: portrait) and (min-width: 768px) {
  .about-us__main {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .about-us__main {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .about-us__main {
    width: 600px;
    text-align: justify;
  }
}

.about-us__end {
  padding-bottom: 0px;
}

@media (min-width: 1200px) {
  .about-us__end {
    width: 200px;
    margin: 0 90px 0 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .about-us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.services::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 75%;
  bottom: -40px;
  left: 50%;
  background-color: #00dce9;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services .service:nth-last-child(1) {
  margin-bottom: 0px;
}

.services .service {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin: 0 0 25px 0;
}

@media (orientation: portrait) and (min-width: 768px) {
  .services .service {
    margin: 0 0 35px 0;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .services .service {
    margin: 0 0 40px 0;
  }
}

@media (min-width: 1200px) {
  .services .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 60px 0;
    padding: 20px 0;
    background-color: #edf1f1;
  }
}

@media (min-width: 1200px) {
  .services .service__container {
    display: block;
  }
}

.services .service__img {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #00ACB5;
}

@media (orientation: portrait) and (min-width: 768px) {
  .services .service__img {
    font-size: 4rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .services .service__img {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .services .service__img {
    line-height: 1;
    border-radius: 50%;
    border: 1px solid #00ACB5;
    padding: 15px 15px;
  }
}

.services .service__title {
  font-size: 1.6rem;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

@media (orientation: portrait) and (min-width: 768px) {
  .services .service__title {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .services .service__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .services .service__title {
    font-size: 2.4rem;
    text-align: left;
    padding-left: 90px;
  }
}

.services .service__description {
  font-size: 1.3rem;
  line-height: 1.5;
}

@media (orientation: portrait) and (min-width: 768px) {
  .services .service__description {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .services .service__description {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .services .service__description {
    width: 600px;
    font-size: 1.7rem;
    text-align: left;
    padding-left: 90px;
  }
}

@media (min-width: 1200px) {
  .services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .benefits div.benefits__wrap {
    padding: 30px;
  }
}

.benefits__wrap {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 35px;
}

@media (orientation: landscape) and (min-width: 1024px) {
  .benefits__wrap {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .benefits__wrap {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
}

.benefits__title {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 15px 0;
  letter-spacing: 1px;
}

@media (orientation: portrait) and (min-width: 768px) {
  .benefits__title {
    font-size: 2.2rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .benefits__title {
    font-size: 2.3rem;
  }
}

@media (min-width: 1200px) {
  .benefits__title {
    text-align: left;
    font-size: 2.6rem;
    font-weight: 400;
    margin: 0 0 15px 0;
    padding: 0 0 5px 0;
    letter-spacing: 1px;
    border-bottom: 1px solid #00dce9;
  }
}

.benefits__items-list {
  list-style: none;
}

.benefits__item {
  position: relative;
  margin: 0 0 10px 30px;
  font-size: 1.3rem;
  line-height: 1.5;
}

@media (orientation: portrait) and (min-width: 768px) {
  .benefits__item {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .benefits__item {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .benefits__item {
    font-size: 1.7rem;
  }
}

.benefits__item::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -30px;
  height: 15px;
  width: 15px;
  background-color: #00ACB5;
  border-radius: 50%;
}

@media (orientation: portrait) and (min-width: 768px) {
  .benefits__item::before {
    top: 5px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .benefits__item::before {
    top: 6px;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  padding: 5px 0;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}

@media (orientation: landscape) and (min-width: 1024px) {
  .contact__title {
    font-size: 2.3rem;
  }
}

@media (min-width: 1200px) {
  .contact__title {
    font-size: 2.4rem;
    padding: 10px 0 5px 0;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__form .contact__input-name,
.contact__form .contact__input-mail,
.contact__form .contact__textarea {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding: 5px 5px;
  margin: 5px 0;
  font-size: 1.4rem;
}

@media (min-width: 1200px) {
  .contact__form .contact__input-name,
  .contact__form .contact__input-mail,
  .contact__form .contact__textarea {
    font-size: 1.6rem;
    max-height: 160px;
  }
}

.contact__form .contact__button {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  margin: 5px 0;
  padding: 8px 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid white;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .contact__form .contact__button {
    margin: 13px 0;
  }
}

.contact__wrap {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  margin: 10px 0;
}

@media (min-width: 1200px) {
  .contact__wrap-form {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

.contact__wrap .contact__social {
  position: relative;
  margin: 20px 0;
  padding-left: 70px;
  font-size: 1.6rem;
  line-height: 44px;
  color: #fff;
}

.contact__wrap .contact__social--number::before {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 7px 7px;
  background-color: white;
  content: url("https://image.flaticon.com/icons/svg/0/191.svg");
}

.contact__wrap .contact__social--mail::before {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 7px 7px;
  background-color: white;
  content: url("https://image.flaticon.com/icons/svg/70/70562.svg");
}

.contact__wrap .contact__social--facebook::before {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 7px 7px;
  background-color: white;
  content: url("https://image.flaticon.com/icons/svg/733/733603.svg");
}

@media (orientation: landscape) and (min-width: 1024px) {
  .contact__wrap .contact__social {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .contact__wrap .contact__social {
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

@media (min-width: 1200px) {
  .contact__wrap .contact__social {
    margin: 35px 0;
  }
}

@media (min-width: 1200px) {
  .contact__wrap {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.contact__copyright {
  width: 100%;
  padding: 3px 20px 3px 0;
  text-align: right;
  color: #fff;
  background-color: #000;
}

@media (min-width: 1200px) {
  .contact__copyright {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 1.3rem;
    padding: 5px 20px 5px 0;
  }
}

@media (min-width: 1200px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.desktop-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.desktop-navigation__item {
  margin: 0 25px;
}

.desktop-navigation__item-link {
  font-size: 2rem;
  padding: 5px 0;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  cursor: pointer;
}

.desktop-navigation__item-link:hover {
  color: #00ACB5;
  border-bottom: 1px solid #00ACB5;
}

.desktop-navigation__log-in-btn {
  display: inline-block;
  font-size: 2rem;
  margin-left: 25px;
  padding: 5px 15px;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px solid #00ACB5;
  cursor: pointer;
  color: #000;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.desktop-navigation__log-in-btn:hover {
  background-color: #00ACB5;
  color: #fff;
}

@media (min-width: 1200px) {
  .desktop-navigation {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
/*# sourceMappingURL=main.css.map */