.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0 0 5px 0 $second-main-color;

  &__button-menu {
    display: inline-block;
    padding: 3px;
    margin: 0 20px 0 0;
    background-color: transparent;
    transition: transform .3s .1s ease-in-out;

    &--active .header__hamburger-inner {
      background-color: transparent;
    }

    &--active .header__hamburger-inner::before {
      transform: translateY(10px) rotate(45deg);
    }

    &--active .header__hamburger-inner::after {
      transform: translateY(-10px) rotate(-45deg);
    }
  }

  &__hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
  }

  &__hamburger-inner {
    @include hamburgerLine;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;

    &::before,
    &::after {
      @include hamburgerLine;
      content: '';
      transition: transform .2s .2s ease-in-out;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }

  &__logo {
    display: block;
    height: 40px;
    width: 40px;
    margin: 0 0 0 20px;
  }
}