@mixin transitionOpacity {
  transition: opacity .3s .1s ease-in-out;
}

@mixin hamburgerLine {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $second-main-color;
}

@mixin lineAfterSection {
  content: '';
  position: absolute;
  height: 5px;
  width: 75%;
  bottom: -40px;
  left: 50%;
  background-color: $main-color;
  border-radius: 50%;
  transform: translateX(-50%)
}

@mixin socialIcon {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 7px 7px;
  background-color: white;
}