.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  transform: translateX(-60vw);
  transition: transform .3s .1s ease-in-out;
  margin-top: 50px;
  z-index: 1;

  &--active {
    transform: translateX(0);
  }

  &--active~section,
  &--active~footer {
    opacity: 0.3;
  }

  &__list {
    list-style: none;
    margin-top: 55px;
    padding-left: 15px;

    @media (orientation: portrait) and (min-width: 768px) {
      margin-top: 60px;
    }

    @media (orientation: landscape) and (min-width: 460px) {
      margin-top: 15px;
    }

    @media (orientation: landscape) and (min-width: 640px) {
      margin-top: 30px;
    }

    @media (orientation: landscape) and (min-width: 731px) {
      margin-top: 34px;
    }

    @media (orientation: landscape) and (min-width: 1024px) {
      margin-top: 50px;
      padding-left: 25px;
    }
  }

  &__item {
    margin-bottom: 30px;

    a {
      font-size: 1.8rem;
      text-decoration: none;
      color: #fff;

      @media (orientation: portrait) and (min-width: 768px) {
        font-size: 2.1rem;
      }

      @media (orientation: landscape) and (min-width: 1024px) {
        font-size: 2.1rem;
      }
    }

    &--button {
      text-align: center;
      margin: 50px 35px 0 20px;

      .navigation__log-in-btn {
        display: block;
        width: 100%;
        border: #fff solid 1px;
        padding: 5px 0;
      }

      @media (orientation: landscape) and (min-width: 460px) {
        margin: 15px 90px 0 60px;
      }
    }

    @media (orientation: portrait) and (min-width: 768px) {
      margin-bottom: 45px;
    }

    @media (orientation: landscape) and (min-width: 460px) {
      margin-bottom: 20px;
    }

    @media (orientation: landscape) and (min-width: 640px) {
      margin-bottom: 23px;
    }

    @media (orientation: landscape) and (min-width: 731px) {
      margin-bottom: 25px;
    }

    @media (orientation: landscape) and (min-width: 1024px) {
      margin-bottom: 40px;
    }
  }
}