.welcome-page {
  display: flex;
  flex-wrap: wrap;
  transition: opacity .3s .1s ease-in-out;
  position: relative;

  &__name {
    flex-basis: 100%;
    height: 50%;
  }

  &__first-word {
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
    width: calc(100% - 30px);
    padding: 0 0 0 10px;
    font: italic 700 3rem/1.6 $main-font;
    background-color: $second-main-color;
    color: #fff;
    letter-spacing: 0.5px;
  }

  &__second-word {
    display: block;
    position: absolute;
    top: 110px;
    left: 60px;
    width: calc(100% - 60px);
    padding: 0 0 0 10px;
    font: italic 700 3rem/1.6 $main-font;
    background-color: $second-main-color;
    color: #fff;
    letter-spacing: 0.5px;
  }

  &__slogan {
    height: 25%;
    flex-basis: 100%;
    padding: 0 20px;
    font: 700 2.7rem/1.3 $main-font;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__bgc-image {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
    background: url(../img/hospital.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.6;
    filter: blur(1.5px);
  }
}