.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff;

    @media (min-width: 1200px) {
      height: 60px;
    }
  }

  &__navigation {
    height: 100vh;
    background-color: $second-main-color;
  }

  &__desktop-navigation {

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &__arrow {
    position: fixed;
    bottom: 15px;
    right: 25px;
    z-index: 99;

    @media (min-width: 320px) {
      bottom: 5px;
      right: 8px;
    }

    @media (min-width: 411px) {
      bottom: 7px;
      right: 12px;
    }
  }

  &__welcome-page {
    @include transitionOpacity;
    flex-basis: 100%;
    height: calc(90vh - 50px);
    margin-top: 50px;

    @media (min-width: 1200px) {
      height: calc(90vh - 60px);
      margin-top: 60px;
    }
  }

  &__about-us {
    @include transitionOpacity;
    flex-basis: 90%;
    padding-top: 50px;

    @media (orientation: portrait) and (min-width: 768px) {
      flex-basis: 80%;
    }

    @media (orientation: landscape) and (min-width: 1024px) {
      flex-basis: 75%;
    }

    @media (min-width: 1200px) {
      flex-basis: 100%;
      max-width: 1366px;
    }
  }

  &__services {
    @include transitionOpacity;
    flex-basis: 90%;
    padding-top: 70px;

    @media (orientation: portrait) and (min-width: 768px) {
      flex-basis: 80%;
    }

    @media (orientation: landscape) and (min-width: 1024px) {
      flex-basis: 75%;
    }

    @media (min-width: 1200px) {
      flex-basis: 100%;
      padding: 120px 0 40px;
    }
  }

  &__benefits {
    @include transitionOpacity;
    flex-basis: 90%;
    padding-top: 75px;

    @media (orientation: portrait) and (min-width: 768px) {
      flex-basis: 80%;
    }

    @media (orientation: landscape) and (min-width: 1024px) {
      flex-basis: 75%;
    }

    @media (min-width: 1200px) {
      flex-basis: 90%;
      padding-top: 100px;
      max-width: 1366px;
    }

    &--image {
      @media (max-width: 1199px) {
        display: none;
      }

      @media (min-width: 1200px) {
        display: block;
        transform: scale(0.9);
        box-shadow: -10px 10px 3px 0 $main-color;
      }

      &-doctors {
        @media (min-width: 1200px) {
          box-shadow: 10px 10px 3px 0 $main-color;
        }
      }

    }
  }

  &__contact {
    @include transitionOpacity;
    flex-basis: 100%;
    background-color: $contact-color;
  }

  @media (min-width: 1200px) {
    overflow: hidden;
    margin: 0 auto;
  }
}